<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frameRate</key>
	<integer>60</integer>
	<key>pointSize</key>
	<real>9</real>
	<key>fgRed</key>
	<integer>1</integer>
	<key>fgBlue</key>
	<integer>0</integer>
	<key>fgGreen</key>
	<integer>0</integer>
	<key>bgRed</key>
	<real>0.25</real>
	<key>bgBlue</key>
	<integer>0</integer>
	<key>bgGreen</key>
	<integer>0</integer>
</dict>
</plist>
